/**
 * layout.styl
 * CSS styling for the ImageDisplay plugin.
 *
 * @author Tristan Maat
 */

/**
 * Styles
 */
.layout-image-display-gallery
  // Images displayed when javascript is not enabled
  .nojs-image
    width 100%

  // Images displayed in the gallery layout
  .container
    width 100%
    text-align center

    .layout-image-display-container-image
      width 25%
      cursor pointer
