/**
 * layout.styl
 * CSS styling for the ImageDisplay plugin.
 *
 * @author Tristan Maat
 */
/**
 * Styles
 */
.layout-image-display-gallery .nojs-image {
  width: 100%;
}
.layout-image-display-gallery .container {
  width: 100%;
}
.layout-image-display-gallery .container .layout-image-display-container-image {
  width: 25%;
  cursor: pointer;
}

