/**
 * layout.styl
 * CSS styling for the ImageDisplay plugin.
 *
 * @author Tristan Maat
 */

/**
 * Styles
 */
.layout-image-display-file
  // Images displayed when javascript is not enabled
  .nojs-image
    width 100%

  // Images displayed in the file layout
  .container
    text-align center
    height 300px

    .layout-image-display-container-image
      max-height 100%
      max-width 100%
      cursor pointer
