.layout-image-display #image-display {
  position: fixed;
  top: 50%;
  left: 50%;
}
.layout-image-display #image-display.hidden {
  display: none;
}
.layout-image-display .image-display-nojs-image {
  width: 100%;
}
.layout-image-display .image-display-gallery-image {
  width: 200px;
  height: 200px;
}
