.layout-image-display
  #image-display
    justify-content space-around
    align-items center
    display flex

    position fixed
    left 0
    top 0

    height 100%
    width 100%

    .image-display-body
      height 100%

    // .image-display-container
    //   height 100%

    #display-left
      flex 4 0

      #image-container
        justify-content center
        align-items center
        display flex

        background rgba(0, 0, 0, .3)
        height 100%

    #display-right
      flex 1 0

      width 30%
      overflow scroll
      background white

      #description-container
        background white

        .element-set
          display none

          &.current
            display initial

    .layout-image-display-image
      display none
      max-width 100%
      max-height 100%

      &.current
        display initial

    &.hidden
      display none

  &-nojs-image
    width 100%

  &-gallery
    width 100%
    &-image
      width 25%
