.layout-image-display #image-display {
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  outline: none;
}
.layout-image-display #image-display .image-display-body {
  height: 100%;
}
.layout-image-display #image-display #display-left {
  flex: 4 0;
}
.layout-image-display #image-display #display-left #image-container {
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(0,0,0,0.3);
  height: 100%;
}
.layout-image-display #image-display #display-right {
  z-index: 1;
  flex: 1 0;
  overflow: scroll;
  background: #fff;
}
.layout-image-display #image-display #display-right #description-container {
  background: #fff;
}
.layout-image-display #image-display #display-right #description-container .element-set {
  display: none;
}
.layout-image-display #image-display #display-right #description-container .element-set.current {
  display: table;
}
.layout-image-display #image-display #display-right #description-container .element-set.current .element {
  display: table-row;
}
.layout-image-display #image-display #display-right #description-container .element-set.current .element .element-text,
.layout-image-display #image-display #display-right #description-container .element-set.current .element h3 {
  display: table-cell;
  font-size: inherit;
  margin: 0;
}
.layout-image-display #image-display .layout-image-display-image {
  display: none;
  max-width: 100%;
  max-height: 100%;
}
.layout-image-display #image-display .layout-image-display-image.current {
  display: initial;
}
.layout-image-display #image-display.hidden {
  display: none;
}
.layout-image-display-nojs-image {
  width: 100%;
}
.layout-image-display-gallery {
  width: 100%;
}
.layout-image-display-gallery-image {
  width: 25%;
}
