.layout-image-display
  #image-display
    justify-content space-around
    align-items center
    display flex

    position fixed
    left 0
    top 0

    height 100%
    width 100%

    outline none

    .image-display-body
      height 100%

    #display-left
      flex 4 0

      #image-container
        justify-content center
        align-items center
        display flex

        background rgba(0, 0, 0, .3)
        height 100%

    #display-right
      z-index 1
      flex 1 0

      background white
      overflow-y scroll
      overflow-x hidden

      #description-container
        width 100%
        height 100%

        padding 20px

        // To ensure that the link at the bottom does not hide text,
        // we need padding.
        padding-bottom 36px

        .item-link
          text-align center
          display table-footer-group

        // Each image has an element set, which needs to be set to
        // display none at first, and will be set to .current when it
        // should be displayed.
        .element-set
          display none

          &.current
            display table
            height 100%
            width 100%

            // The first element is always the title. Hide the "Title"
            // tag, and make the title pretty.
            .element:first-child
              display block
              font-size 20px
              margin-top 20px
              line-height 1.1
              font-weight bold
              margin-bottom 15px

              h3
                display none

              .element-text
                display block
                text-align center

            // All other elements are metadata. Create a table with a
            // tag - description layout.
            .element
              display table
              width 100%

              .element-text
              h3
                display table-cell

                font-size inherit
                margin 0

              .element-text
                text-align right

    // Images are hidden at first, and made visible through
    // javascript. We want them to fill the container in one
    // direction, hence the max-height and max-width.
    .layout-image-display-image
      display none
      max-width 100%
      max-height 100%

      &.current
        display initial

    &.hidden
      display none

  // Images displayed when javascript is not enabled
  &-nojs-image
    width 100%

  // Images displayed in the overview gallery
  &-gallery
    width 100%
    &-image
      width 25%
      cursor pointer