.layout-image-display
  #image-display
    position fixed
    top 50%
    left 50%

    &.hidden
      display none

  &-nojs-image
    width 100%

  &-gallery
    width 100%
    &-image
      width 25%
