/*!
 * helpers.styl
 * Cross-browser support helper functions/mixins
 *
 * @author Tristan Maat
 *
 * @license
 * Copyright (C) 2016  Tristan Daniel Maat
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Functions
 */
display-flex()
  display -webkit-box
  display -ms-flexbox
  display -webkit-flex
  display flex

flex()
  -webkit-box-flex arguments
  // If the browser is old this at least avoids collapsing
  width 50%
  -webkit-flex arguments
  -ms-flex arguments
  flex arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

appearance()
  -webkit-appearance arguments
  -moz-appearance arguments
  appearance arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

object-fit()
  -o-object-fit arguments
  object-fit arguments
