/**
 * theme-fixes.styl
 * CSS styling to override individual theme CSS that messes with the
 * plugin's CSS (why do people even use z-index for menus? Would
 * someone *please* explain? They don't even overlap by default).
 *
 * @author Tristan Maat
 */

/**
 * Styles
 */
// Avantgarde footer workaround (why does your footer have a z-index >
// 0? Seriously.)
// footer:not(.image-display)
//   z-index -1

// Force most stacking contexts to be lower than our stacking
// context. Those that are not (because other plugins may use the
// z-index) must be excluded manually above.
*:not(.image-display)
  z-index 0
