/*!
 * theme-fixes.styl
 * CSS styling to override individual theme CSS that messes with the
 * plugin's CSS (why do people even use z-index for menus? Would
 * someone *please* explain? They don't even overlap by default).
 *
 * @author Tristan Maat
 *
 * @license
 * Copyright (C) 2016  Tristan Daniel Maat
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Styles
 */
// Avantgarde footer workaround (why does your footer have a z-index >
// 0? Seriously.)
// footer:not(.image-display)
//   z-index -1

// Force most stacking contexts to be lower than our stacking
// context. Those that are not (because other plugins may use the
// z-index) must be excluded manually above.
// *:not(.image-display)
//   z-index 0
